<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  
<!-- PNG favicons for better quality -->
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180x180.png">

<!-- Android Chrome icons -->
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/favicon-192x192.png">


